<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
</script>
<template>
  echo "hello word";
  echo "hell owrod";
  <RouterView />
</template>

<style scoped></style>
